*{
    margin: 0;
    padding: 0;
}

nav{
    
    padding: 16px 0;
    border: 0px solid;
    width: 90%;
    margin: auto;
    background: indianred;
}
nav ul{
    list-style-type: none;
    text-align: left;
    
}
nav ul li{
    display: inline-block;
    margin-left: 10px;
    padding-left: 40px;
}
nav ul li:first-child{
    margin-left: 0px;
}
a{
  color: #fff;
  text-decoration: none;
}

